@media screen and (min-width: 992px) and (max-width: 4000px) {
  /* cabeçalho */
  .nv {
    display: none;
  }
  .hdd {
    display: none;
  }
  .hdd-desk {
    display: flex;
    align-items: center;
  }

  .hd-2 img {
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  .hd-2 img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .hd-2 a {
    color: #3367d5;
    font-family: montserrat;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    width: 95%;
    transition: 0.3s;
  }
  .hd-2 a:hover {
    color: #334e8a;
    transition: 0.3s;
  }
  .hd-2 li {
    list-style: none;
  }

  /* main do site */

  .mn-1 {
    display: none;
  }
  .mn-2 {
    display: block;
  }
  .mn-2 img {
    margin-top: 120px;
    width: 100%;
  }
  /* login */
  .hd {
    width: 50%;
  }
  /* regulamento */

  .sec-1 h1 {
    font-family: montserrat;
    text-align: center;
    color: #3367d5;
    font-size: 50px;
  }
  .sec-1 a {
    display: flex;
    justify-content: center;
    font-family: montserrat;
    margin-top: 30px;
    text-align: center;
    width: 95%;
    font-size: 20px;
  }
  /* menu arrow (submenu home desktop) */
  .submenu3,
  .submenu4 {
    display: none;
    margin-top: 25px;
  }
  .submenuopen1 {
    display: block;
  }
  .dropA li {
    font-size: 15px;
    cursor: pointer;
  }
  table {
    width: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 653px) {
  .open {
    width: 60%;
  }
}
