* {
  margin: 0 auto;
  padding: 0 auto;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
ul {
  -webkit-tap-highlight-color: transparent;
}
section {
  -webkit-tap-highlight-color: transparent;
}
div {
  -webkit-tap-highlight-color: transparent;
}
nav {
  -webkit-tap-highlight-color: transparent;
}
/* cabeçalho */
.hdd {
  width: 100%;
  background-color: white;
  height: 120px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 12;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hdd-1 {
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hdd-1 h1 {
  color: #3e4441;
  text-align: center;
  font-size: 17px;
  font-family: poppins;
  font-weight: 600;
}
.hdd-1 img {
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}
.zoomed {
  transform: scale(1.1);
}

/* menu hamburguer */
.material-symbols-outlined {
  cursor: pointer;
  color: #808080;
}
.nv {
  background-color: #ff6a49;
  height: 100%;
  width: 0;
  position: fixed;
  transition: 0.3s;
  overflow: hidden;
  z-index: 30;
}
.nv ul {
  overflow: hidden;
  list-style: none;
  height: 100%;
  margin-top: 10px;
  width: 100%;
}
.nv li {
  margin-top: 40px;
  background-color: white;
  padding: 10px;
  position: relative;
  right: 40px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}
.nv span {
  color: white;
  margin-top: 50px;
  margin-left: 10px;
}
.nv a {
  color: #ff6a49;
  font-family: montserrat;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  width: 95%;
  margin-left: 15px;
}

.open {
  width: 60%;
  transition: 0.3s;
  overflow: visible;
}

/* main do site */
.mn {
  width: 100%;
}
.ss {
  display: none;
}
.mn-1 img {
  display: flex;
  width: 90%;
  position: relative;
  top: 145px;
  cursor: pointer;
}
.mn-1 h1 {
  color: #ffffff;
  font-family: poppins;
  font-weight: 600;
  font-size: 33px;
}
.mn-1 button {
  background-color: white;
  color: #ff6a49;
  border: 0;
  height: 40px;
  width: 200px;
  border-radius: 30px;
  font-family: poppins;
  font-weight: 700;
  cursor: pointer;
}

.mn-2 {
  display: none;
}

/* regulamento do ranking */
.sec {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: none;
}
.reg {
  display: block;
}
.sec-1 {
  margin-top: 20px;
}

/* chaveamento */
.chav {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: none;
}
.chav2 {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: none;
}

.chav-1 {
  margin-top: 50px;
}
.chav-1 h1 {
  font-family: montserrat;
  text-align: center;
  color: #3367d5;
}
.chaveopen {
  display: block;
}
.hdd-desk {
  display: none;
}

/* menu arrow (submenu home mobile) */
.arrow {
  position: relative;
  top: 3px;
  margin-left: 5px;
  cursor: pointer;
}
.submenu1,
.submenu2 {
  margin-top: 25px;
  display: none;
}
.submenuopen {
  display: block;
}

table.tabela {
  height: 50px;
  width: 100%;
}

div.tabela1 {
  margin-top: 100px;
}
table.tabela1 {
  height: 50px;
  margin-bottom: 30px;
}

.tabela-2 h1,
.tabela-3 h1,
.tabela-4 h1,
.tabela-5 h1,
.tabela-6 h1,
.tabela-7 h1 {
  font-family: poppins;
  font-size: 14px;
  color: white;
  margin-top: 30px;
  width: 95%;
  margin-left: 30px;
  font-weight: 800;
}
.tabela-1 h1,
.tabela2 h1,
.tabela3 h1,
.tabela4 h1,
.tabela5 h1,
.tabela6 h1,
.tabela7 h1,
.tabela8 h1 {
  font-family: poppins;
  font-size: 14px;
  font-weight: 800;
  color: #333333;
  margin-top: 30px;
  width: 95%;
  margin-left: 30px;
}

/* login do organizador */

.hd {
  width: 90%;
  height: 200px;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}
.hd-15 {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}
.back {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 10;
  display: none;
}
.back img {
  position: relative;
  top: 390px;
  display: flex;
}
.orgopen {
  display: block;
}

#info {
  color: #ff6a49;
}

.hd-1 h1 {
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.hdd-2 {
  margin-top: 20px;
}
.hdd-2 input {
  width: 90%;
  height: 35px;
  border: 0;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 15px;
  display: flex;
  outline: none;
  background-color: #f2f2f2;
  font-family: poppins;
  text-indent: 10px;
}
.hdd-2 input::placeholder {
  font-family: poppins;
  color: gray;
}
.hd-3 {
  margin-top: 15px;
}
.hd-3 input {
  width: 90%;
  height: 35px;
  border: 0;
  display: flex;
  justify-content: center;
  background-color: #ff6a49;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 30px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-family: poppins;
}
.hd-3 input:hover {
  background-color: #e93911;
  transition: 0.3s;
}
/* pagina do organizador */

.orgpage {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 11;
  display: none;
}

.orgpage-1 h1 {
  text-align: center;
  font-family: montserrat;
  font-size: 30px;
  color: #ff6a49;
  margin-top: 30px;
}
.orgpage-1 h2,
.orgpage-10 h2,
.orgpage-11 h2,
.orgpage-12 h2,
.orgpage-13 h2,
.orgpage-20 h2,
.orgpage-21 h2,
.orgpage-22 h2,
.orgpage-23 h2 {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-family: montserrat;
  font-size: 20px;
  color: #ff6a49;
}

.orgpageopen {
  display: block;
}

/* tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.htabela {
  display: none;
}
td {
  padding: 20px;
  font-family: poppins;
  width: 45%;
  font-size: 12px;
  color: white;
}
#tabelaNaoEditavele7 {
  padding: 8px;
  font-family: poppins;
  font-size: 12px;
  color: white;
}
#tabelaNaoEditavel td,
#tabelaNaoEditavel2 td {
  color: black;
}
.remove {
  background-color: red;
  padding: 10px 13px;
  height: 50px;
  color: white;
  font-family: montserrat;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}
.addnew {
  background-color: #3367d5;
  padding: 10px 10px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.addnew2,
.addnew3,
.addnewb,
.addnew10,
.addnew11,
.addnew12,
.addnew13,
.addnew20,
.addnew21,
.addnew22,
.addnew23 {
  background-color: #3367d5;
  padding: 10px 10px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.excluirtudo,
.excluirtudo2 {
  background-color: #e7260c;
  padding: 10px 10px;

  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
}
.addnew:hover {
  background-color: #1055cc;
  transition: 0.3s;
}
.addnew2:hover,
.addnew3:hover {
  background-color: #1055cc;
  transition: 0.3s;
}
.addnew3 {
  background-color: #3367d5;
  padding: 10px 10px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.addnewb {
  background-color: #3367d5;
  padding: 10px 10px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* chave org */
.orgpage-1 p {
  text-align: center;
  font-family: montserrat;
  color: #3367d5;
  font-size: 15px;
}
.orgpage-1 select {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.orgpage-1,
.orgpage-10,
.orgpage-11,
.orgpage-12,
.orgpage-13,
.orgpage-20,
.orgpage-21,
.orgpage-22,
.orgpage-23 {
  border-bottom: 1px solid black;
  padding: 30px;
}
.orgpage-23 {
  padding-bottom: 100px;
}
/* footer */

.ft {
  display: flex;
  background-color: #3367d5;
  margin-top: 100px;
  justify-content: space-around;
}
.ft-1 h1 {
  font-family: montserrat;
  font-size: 20px;
  color: black;
  margin-top: 60px;
}
.ft-1 a {
  font-family: montserrat;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: 10px;
  color: #c92c36;
}

/* botão de salvar */
.salvar1,
.salvar2,
.salvar10,
.salvar11,
.salvar12,
.salvar13,
.salvar20,
.salvar21,
.salvar22,
.salvar23 {
  background-color: #33b14d;
  padding: 10px 10px;
  width: 100px;
  justify-content: center;
  color: white;
  margin-top: 10px;
  display: flex;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.salvar1:hover,
.salvar2:hover,
.salvar3:hover,
.salvar4:hover,
.salvar10:hover,
.salvar11:hover,
.salvar12:hover,
.salvar13:hover {
  background-color: #3c9c4f;
  transition: 0, 3s;
}
/* tabela hidden etapas passadas */

.drop1 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.drop18 h1 {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  font-family: poppins;
  cursor: pointer;
}

.drop18 {
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  background-color: #ff6a49;
  width: 80%;
  cursor: pointer;
}
.drop17 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.drop18 p {
  margin-top: 3px;
  font-size: 10px;
  font-weight: 400;
  font-family: poppins;
  color: white;
}
.drop19 {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.drop20 {
  margin-top: 17px;
  margin-left: 10px;
  padding: 15px;
  display: flex;
}
.drop20 h1 {
  color: #8d8f8d;
  font-family: poppins;
  font-weight: 600;
  font-size: 14px;
}

.tabela-2,
.tabela-3,
.tabela-4,
.tabela-5,
.tabela-6,
.tabela-7 {
  display: none;
}
.bl {
  display: block;
}
.tabela-1,
.tabela2 {
  margin-top: 50px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 85%;
  border-radius: 5px;
}
.tabela-1 table,
.tabela-2 table,
.tabela-3 table,
.tabela-4 table,
.tabela-5 table,
.tabela-6 table,
.tabela-7 table {
  margin-left: 30px;
}
.tabela2 table,
.tabela3 table,
.tabela4 table,
.tabela5 table,
.tabela6 table,
.tabela7 table,
.tabela8 table {
  margin-left: 30px;
}

.catA {
  text-align: center;
  font-family: montserrat;
  color: #3367d5;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 95%;
  font-size: 30px;
}

.dropB {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.dropB li {
  width: 14%;
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border-right: 1px solid #ccc;
  color: #b3b3b3;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  cursor: pointer;
}
.dropB li.active2 {
  color: #333333;
}

h1.catB {
  text-align: center;
  font-family: montserrat;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 95%;
  color: #3367d5;
  font-size: 30px;
}

.tabela3,
.tabela4,
.tabela5,
.tabela6,
.tabela7,
.tabela8 {
  display: none;
}
.blb {
  display: block;
}
.editp {
  padding-bottom: 3000px;
}

#tabelaEditavel td,
#tabelaEditavel2 td,
#tabelaEditavel10 td,
#tabelaEditavel11 td,
#tabelaEditavel12 td,
#tabelaEditavel13 td,
#tabelaEditavel20 td,
#tabelaEditavel21 td,
#tabelaEditavel22 td,
#tabelaEditavel23 td {
  border: 1px solid black;
  color: black;
  font-weight: 600;
  text-align: center;
}

#chavEditavel td,
#chavEditavel2 td {
  border: 1px solid black;
  width: 50%;
  color: black;
  font-weight: 600;
  text-align: center;
}
#chavNaoEditavel td,
#chavNaoEditavel2 td {
  width: 20%;
  color: black;
  border: 1px solid black;
}

.cmode p {
  font-weight: 500;
  margin-top: 15px;
}

.addname {
  background-color: #3367d5;
  height: 30px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.finish {
  background-color: #33b14d;
  height: 30px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.adesv {
  display: none;
}

.removebtn {
  width: 100px;
  background-color: #c92c36;
  font-family: montserrat;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 10px;
}

.listyle {
  font-family: montserrat;
  list-style: none;
  margin-top: 20px;
}

.addbtn {
  background-color: #3367d5;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
  margin-left: 10px;
}
.addtxt {
  font-family: montserrat;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  margin-right: 10px;
}
#jogador,
#jogador2 {
  width: 70px;
  border: 1px solid black;
  height: 20px;
}
.centfn {
  text-align: center;
}
.formone {
  margin-top: 20px;
}

.jtxt {
  font-family: montserrat;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

#jogadores_por_chave,
#jogadores_por_chave2 {
  width: 35px;
  margin-top: 5px;
  height: 20px;
  border: 1px solid black;
}

#jogadores,
#jogadores2 {
  text-align: center;
  background-color: #b3b3b3;
  border-radius: 10px;
  width: 80%;
  margin-top: 40px;
}
.fm1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.fm2 {
  margin-top: 100px;
  display: flex;
}

.salvar3,
.salvar4 {
  background-color: #33b14d;
  height: 30px;
  width: 100px;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}
.ct {
  width: 100px;
  background-color: #3367d5;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
}

.rt {
  width: 100px;
  background-color: #e7260c;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
}

#tabelaNaoEditavel10 td,
#tabelaNaoEditavel11 td,
#tabelaNaoEditavel12 td,
#tabelaNaoEditavel13 td,
#tabelaNaoEditavel20 td,
#tabelaNaoEditavel21 td,
#tabelaNaoEditavel22 td,
#tabelaNaoEditavel23 td {
  border: 0;
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
}
.chav {
  padding-bottom: 1500px;
}
.chav2 {
  padding-bottom: 1500px;
}

.tabela-10 {
  border-bottom: 1px solid black;
  padding: 50px;
}
.tabela-10 h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-family: montserrat;
  font-size: 25px;
  color: #ff6a49;
}
li a.subchav1,
li a.subchav2 {
  color: black;
  font-size: 15px;
  margin-top: 40px;
  overflow: hidden;
}
.subchav1 {
  position: relative;
  bottom: 10px;
  left: 15px;
}
.subchav2 {
  position: relative;
  bottom: 20px;
  left: 15px;
}
.subglob {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.subglobopen {
  height: 120px;
  overflow: visible;
  transition: 0.3s;
}

#chavEditavel td,
#chavNaoEditavel2 td,
#chavEditavel2 td,
#chavNaoEditavel td {
  font-size: 17px;
  color: black;
  text-align: center;
}

/* menu bottom fixo */

.menudown {
  display: flex;
  background-color: white;
  height: 70px;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 20;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.menudown1 {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.menudown1 img {
  cursor: pointer;
}

/* conteudo da home page */
.home-content {
  position: relative;
  top: 150px;
}

.home-content-1 h1 {
  color: #3e4441;
  font-family: poppins;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  width: 80%;
}
.home-content-1 p {
  color: #3e4441;
  font-family: poppins;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
  width: 80%;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: justify;
  border-radius: 5px;
}

.home-content-2 h1 {
  color: #3e4441;
  font-family: poppins;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  width: 80%;
}
.home-content-2 p {
  color: #3e4441;
  font-family: poppins;
  font-size: 13px;
  font-weight: 500;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 230px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.redes {
  margin-top: 40px;
  position: relative;
  right: 25px;
}
.redes img {
  cursor: pointer;
}
.none {
  display: none;
}
.ordem {
  order: -1;
}

.pont-geral {
  background-color: white;
  height: 500px;
  margin-top: 40px;
  padding-bottom: 2500px;
}
.maintxtpt h1 {
  color: #3e4441;
  font-size: 20px;
  font-family: poppins;
  margin-left: 30px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 29;
  display: none;
}

.active5 {
  stroke-width: 3;
  stroke: #ff6a49;
}
.active6 {
  stroke-width: 2;
  stroke: #ff6a49;
}
.dot1 {
  position: absolute;
  bottom: -4px; /* posiciona a bolinha abaixo do ícone */
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ff6a49;
  display: none;
}
.dot2 {
  position: absolute;
  bottom: -4px; /* posiciona a bolinha abaixo do ícone */
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ff6a49;
  display: none;
}
.dot3 {
  position: absolute;
  bottom: -5px; /* posiciona a bolinha abaixo do ícone */
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ff6a49;
  display: none;
}
.apa {
  display: block;
}

/* pós login */

.plogin {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 11;
  display: none;
}
.pbl {
  display: block;
}
.plogin img {
  position: relative;
  top: 120px;
  display: flex;
}
.plogin1 h1 {
  color: #3e4441;
  font-family: poppins;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 20px;
}
.plogin1 {
  display: flex;
  flex-direction: column;
}
.plogin1 button {
  height: 37px;
  width: 75%;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-family: poppins;
  border: 0;
  border-radius: 5px;
}
.ctp {
  background-color: #ff6a49;
}
.epp {
  background-color: #3e4441;
}

.editp {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 11;
  display: none;
}
.editpbl {
  display: block;
}
.voltar {
  display: flex;
  width: 50%;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  font-size: 15px;
  color: white;
  background-color: #ff6a49;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.esp {
  font-weight: 800;
  background-color: #f0c1b6;
}

.avu {
  width: 10%;
  background-color: #f0c1b6;
}
.avu1 {
  width: 10%;
}
.hdesk {
  display: none;
}
