* {
  margin: 0 auto;
  padding: 0 auto;
  scroll-behavior: smooth;
}

/* cabeçalho */
.hdd {
  width: 100%;
  background-color: white;
  height: 120px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 11;
}
.hdd-1 img {
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  right: 30px;
}

/* menu hamburguer */
.material-symbols-outlined {
  cursor: pointer;
  color: #3367d5;
}
.nv {
  background-color: #3367d5;
  height: 100%;
  width: 0;
  position: fixed;
  transition: 0.3s;
  top: 120px;
  z-index: 11;
}
.nv ul {
  overflow: hidden;
  list-style: none;
  width: 100%;
  position: relative;
  right: 25px;
  height: 100%;
}
.nv li {
  margin-top: 50px;
}
.nv a {
  color: white;
  font-family: montserrat;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  width: 95%;
}

.open {
  width: 40%;
  transition: 0.3s;
}

/* main do site */
.mn {
  width: 100%;
}

.mn-1 img {
  width: 100%;
  object-fit: cover;
  margin-top: 150px;
}
.mn-2 {
  display: none;
}

/* regulamento do ranking */
.sec {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: none;
}
.reg {
  display: block;
}
.sec-1 {
  margin-top: 100px;
}
.sec-1 h1 {
  font-family: montserrat;
  text-align: center;
  color: #3367d5;
}
.sec-1 a {
  display: flex;
  justify-content: center;
  font-family: montserrat;
  margin-top: 15px;
  text-align: center;
  width: 95%;
}

/* chaveamento */
.chav {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: none;
}

.chav-1 {
  margin-top: 50px;
}
.chav-1 h1 {
  font-family: montserrat;
  text-align: center;
  color: #3367d5;
}
.chaveopen {
  display: block;
}
.hd-2 {
  display: none;
}

/* menu arrow (submenu home mobile) */
.arrow {
  position: relative;
  top: 3px;
  margin-left: 5px;
  cursor: pointer;
}
.submenu1,
.submenu2 {
  margin-top: 25px;
  display: none;
}
.submenuopen {
  display: block;
}

table.tabela {
  height: 50px;
  background-color: #e6e6e6;
  width: 100%;
}
.tabela-1 {
  display: none;
}

div.tabela1 {
  margin-top: 100px;
}
table.tabela1 {
  height: 50px;
  margin-bottom: 30px;
}
.tabela-1 h1,
.tabela-2 h1,
.tabela-3 h1,
.tabela-4 h1,
.tabela-5 h1,
.tabela-6 h1,
.tabela-7 h1 {
  text-align: center;
  font-family: montserrat;
  font-size: 12px;
  color: #333333;
  margin-top: 30px;
  width: 95%;
}
.tabela2 h1,
.tabela3 h1,
.tabela4 h1,
.tabela5 h1,
.tabela6 h1,
.tabela7 h1,
.tabela8 h1 {
  text-align: center;
  font-family: montserrat;
  font-size: 12px;
  color: #333333;
  margin-top: 30px;
  width: 95%;
}

/* login do organizador */

.hd {
  background-color: white;
  width: 75%;
  height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
  display: none;
}
.back {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #3367d5;
  z-index: 10;
  display: none;
}
.orgopen {
  display: block;
}
.hd-1 {
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  padding-left: 15px;
}
#info {
  color: #3367d5;
}
.hd-1::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  background-color: #3367d5;
}
.hd-1 h1 {
  font-family: montserrat;
  font-weight: 800;
  font-size: 20px;
}
.hd-1 h2 {
  font-family: montserrat;
  font-weight: 400;
  font-size: 15px;
}
.hdd-2 {
  margin-left: 30px;
  margin-top: 20px;
}
.hdd-2 input {
  width: 90%;
  height: 35px;
  border: 0;
  background-color: lightgray;
  margin-bottom: 15px;
  border-radius: 5px;
}
.hdd-2 input::placeholder {
  position: relative;
  left: 10px;
  font-family: montserrat;
  color: gray;
}
.hd-3 {
  margin-left: 30px;
  margin-top: 15px;
}
.hd-3 input {
  width: 90%;
  height: 35px;
  border: 0;
  background-color: #3367d5;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.hd-3 input:hover {
  background-color: #1055cc;
  transition: 0.3s;
}
/* pagina do organizador */

.orgpage {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: none;
}

.orgpage-1 h1 {
  text-align: center;
  font-family: montserrat;
  font-size: 30px;
  color: #3367d5;
  margin-top: 30px;
}
.orgpage-1 h2 {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-family: montserrat;
  font-size: 20px;
  color: #3367d5;
}
.orgpageopen {
  display: block;
}

/* tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}
.esp {
  color: #3367d5;
  font-weight: 600;
}
.htabela {
  display: none;
}
td {
  padding: 8px;
  text-align: center;
  font-family: montserrat;
  width: 50%;
  font-size: 12px;
  color: #808080;
}
tr:nth-child(odd) {
  background-color: #e6e6e6;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
.remove {
  background-color: red;
  padding: 10px 13px;
  height: 50px;
  color: white;
  font-family: montserrat;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}
.addnew {
  background-color: #3367d5;
  padding: 10px 10px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.addnew2 {
  background-color: #3367d5;
  padding: 10px 10px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.excluirtudo,
.excluirtudo2 {
  background-color: #e7260c;
  padding: 10px 10px;

  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
}
.addnew:hover {
  background-color: #1055cc;
  transition: 0.3s;
}
.addnew2:hover {
  background-color: #1055cc;
  transition: 0.3s;
}
.addnew3 {
  background-color: #3367d5;
  padding: 10px 10px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.addnewb {
  background-color: #3367d5;
  padding: 10px 10px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.addnew3:hover {
  background-color: #1055cc;
  transition: 0.3s;
}
/* chave org */
.orgpage-1 p {
  text-align: center;
  font-family: montserrat;
  color: #3367d5;
  font-size: 15px;
}
.orgpage-1 select {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.orgpage-1 {
  border-bottom: 1px solid #3367d5;
  padding: 30px;
}

/* footer */

.ft {
  display: flex;
  background-color: #3367d5;
  margin-top: 100px;
  justify-content: space-around;
}
.ft-1 h1 {
  font-family: montserrat;
  font-size: 20px;
  color: black;
  margin-top: 60px;
}
.ft-1 a {
  font-family: montserrat;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: 10px;
  color: #c92c36;
}

/* botão de salvar */
.salvar1,
.salvar2,
.salvar4 {
  background-color: #33b14d;
  padding: 10px 10px;
  width: 100px;
  justify-content: center;
  color: white;
  margin-top: 10px;
  display: flex;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.salvar1:hover,
.salvar2:hover,
.salvar3:hover,
.salvar4:hover {
  background-color: #3c9c4f;
  transition: 0, 3s;
}
/* tabela hidden etapas passadas */

.drop1 {
  background-color: #e6e6e6;
}
.dropA {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.dropA li {
  width: 14%;
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border-right: 1px solid #ccc;
  color: #b3b3b3;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  cursor: pointer;
}
.dropA li.active {
  color: #333333;
}
.tabela-1,
.tabela-2,
.tabela-3,
.tabela-4,
.tabela-5,
.tabela-6,
.tabela-7 {
  display: none;
}
.bl {
  display: block;
}
.catA {
  text-align: center;
  font-family: montserrat;
  color: #3367d5;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 95%;
  font-size: 30px;
}

.dropB {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.dropB li {
  width: 14%;
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border-right: 1px solid #ccc;
  color: #b3b3b3;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  font-family: montserrat;
  justify-content: center;
  cursor: pointer;
}
.dropB li.active2 {
  color: #333333;
}

h1.catB {
  text-align: center;
  font-family: montserrat;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 95%;
  color: #3367d5;
  font-size: 30px;
}

.tabela2,
.tabela3,
.tabela4,
.tabela5,
.tabela6,
.tabela7,
.tabela8 {
  display: none;
}
.blb {
  display: block;
}

#tabelaEditavel td,
#tabelaEditavel2 td {
  border: 1px solid black;
  color: black;
  font-weight: 600;
}

#chavEditavel td,
#chavEditavel2 td {
  border: 1px solid black;
  width: 20%;
  color: black;
  font-weight: 600;
}
#chavNaoEditavel td,
#chavNaoEditavel2 td {
  width: 20%;
  color: black;
  border: 1px solid black;
}

.cmode p {
  font-weight: 500;
  margin-top: 15px;
}

.addname {
  background-color: #3367d5;
  height: 30px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.finish {
  background-color: #33b14d;
  height: 30px;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.adesv {
  display: none;
}

.removebtn {
  width: 100px;
  background-color: #c92c36;
  font-family: montserrat;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 10px;
}

.listyle {
  font-family: montserrat;
  list-style: none;
  margin-top: 20px;
}

.addbtn {
  background-color: #3367d5;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
}
.addtxt {
  font-family: montserrat;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
#jogador {
  width: 70px;
  border: 1px solid black;
  height: 20px;
}
.centfn {
  text-align: center;
}
.formone {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  top: 10px;
  display: flex;
}
.fm {
  display: flex;
  flex-direction: column;
}
.jtxt {
  font-family: montserrat;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

#jogadores_por_chave {
  width: 35px;
  margin-top: 10px;
  height: 20px;
  border: 1px solid black;
}

#jogadores {
  text-align: center;
  background-color: #b3b3b3;
  border-radius: 10px;
  width: 80%;
  margin-top: 50px;
}
.fm1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fm2 {
  margin-top: 100px;
  display: flex;
}

.salvar3 {
  background-color: #33b14d;
  height: 30px;
  width: 100px;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}
.ct {
  width: 100px;
  background-color: #3367d5;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
}

.rt {
  width: 100px;
  background-color: #e7260c;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  border: 0;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
}
